.table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    width: 800px;
    height: auto;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

.tr{
    transition: all .2s ease-in;
    cursor: pointer;
}
.th, 
.td{
    padding: 12px;
    text-align: left;
    border-bottom:1px solid #ddd ;
}

#header{
    background-color: #323a69;
    color: #fff;
} 

.tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);

}
