.container{
    background: url(https://images.unsplash.com/photo-1435224654926-ecc9f7fa028c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80);
    object-fit: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 100vh;
}

.container h2{
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 3rem;
    margin: 40px;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-picture{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
}
.form-control{
    background: transparent;
  width: 300px;
  height: 35px;
  outline: none;
  margin: 20px;
  border: none;
  padding-bottom: 3px;
  border-bottom: solid 3px #000;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
}
.form-group input::placeholder{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}
.form-group input:focus{
    background: rgba(255, 255, 255, 0.068);
}

.remember-me{
    margin-left:18px;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 600;
}
.form-checkbox{
    padding-top: 30px;
    margin-left: 10px;
    width: 15px;
}

.btn-block{
    border-radius: 30px;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, #3e71ac 50% , #5f92a1  50%, #4a709b);
    background-size: 200%;
    background-position: 0%;
    width: 300px;
    height: 40px;
    margin: 20px;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-block:hover{
    background-position: 100% 0;
}
.error{
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 1rem;

}