/* Modal */
.is-active{
    display: block;
    opacity: 1;
    visibility: visible;
}

.modal-container{
    z-index: 100;
    background-color: rgb(57, 71, 197);
    color: #000;
    width: 250px;
    height: 420px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    transition: all 0.5s ease-in;
    display: block;
    border-radius: 10px;
}
.none{
    visibility: hidden;
    opacity: 0;
}
.modal-header{
    position: absolute;
    right: 6px;
    top: -14px;
}
.modal-header span{
    font-size: 2rem;
}

.modal-body{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal-body input,button{
    margin:10px 20px;
    width: 80%;
    height: 30px;
    font-size: 1rem;
}