.btn-new-visitor{
    width: 200px;
    height: 30px;
    margin: 20px;
    font-size: 1rem;
}

.browser-input{
    width: 300px;
    font: 1rem;
    margin-left: 20px;
    height: 30px;
}
.btn-edit{
    margin-right: 20px;
    font-size: 1rem;
    padding: 5px;
    width: 50px;

}

.btn-info{
    width: 50px;
    font-size: 1rem;
    padding: 5px;
}